* {
    padding:0;
    margin:0;
}

body {
    background-image: url('fon-2.jpg');
}

.home {
    margin:auto;
    padding: 2%;
    display:flex;
    margin-top: 5%;
    border-radius: 15px;
    color: red;
    border-color: red;
    background: none;
    cursor: pointer;
}

.block-1 {
    margin:2%;
    padding: 10px;
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 5px;
}

.block-1 p, h3, li {
    color: white;
}

.button-content {
    position: relative;
    align-items: center;
    justify-content: center;
}

.button-content button {
    display: flex;
    margin: auto;
    padding-top:1%;
    padding-bottom:1%;
    padding-left: 5%;
    padding-right: 5%;
    background: rgb(230, 59, 59);
    border-radius: 13px;
}