*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
}

.forms {
    display: flex;
    position: relative;
    align-items: center;
    height: 250px;
    flex-direction: column;
    width: 25%;
    border: 2px solid red;
    border-radius: 25px;
    padding: 11px;
    background: rgb(139, 33, 33);
    padding-top: 20px;
    padding-bottom: 20px;
}

.forms input {
    margin-bottom: 6px;
}

.forms input {
    border: 2px solid red;

}

.forms button {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 20vh;
    border: 2px solid black;
    border-radius: 10px;
    height: 20px;
    color:brown;

}

